body {
    background-color: lightgray;
}

nav {
    background-color: darkgray;
    padding: 10px;
    margin-bottom: 10px;
}

.right {
    float: right;
    margin-right:5px;

}

.left {
    float: left;
    margin-left:5px;
}

.selected {
    background-color: gray;
}
select:hover {
    opacity: 0.5;
    cursor: pointer;
}

select option:hover {
    cursor: pointer;
    color: dimgray;
}

div {
    width: 490px;
    background-color: whitesmoke;
    margin-right: 10px;
    float: left;
}

img {
    float: right;
    width: 30px;
    margin: 7px 5px;
}

h1 {
    float: left;
    margin: 5px 0;
    padding: 0 5px;
}

a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
    color: black;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.add {
    margin: 10px 5px;
    width: 35px;
    height: 35px;

}

input {
    margin: 10px;
    width: 350px;
}

input[type=submit] {
    margin: 10px;
    width: 50px;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 15px;
}
button:hover{
    opacity: 0.5;
    cursor: pointer;
}

label {
    display: block;
    text-align: center;
}

form {
    text-align: center;
    font-size: 25px;
}

.center {
    text-align: center;
}

.bg {
    background-image: url("../photos/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.button {
    font-size: 17px;
    font-family: Arial, serif;
    border-width: 1px;
    border-style: solid;
    border-color: #767676;
    background-color: #efefef;
    border-radius: 2px;
    text-decoration: none;
    padding: 1px 5px;
    color: black;
    margin-left: 4px;
    margin-right: 5px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    float: left;
}
